<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.smd.pirat"
    versionCode = "11"
    version     = "1.1.0" >

<!-- versionCode is optional and Android only -->
<icon src="icon-60@3x.png" width="180" height="180" />
  <name>Досуг пенсионеров</name>

  <platform name="android">
      <icon density="ldpi" src="icon-60@3x.png" />
        <icon density="mdpi" src="icon-60@3x.png" />
        <icon density="hdpi" src="icon-60@3x.png" />
        <icon density="xhdpi" src="icon-60@3x.png" />
        <icon density="xxhdpi" src="icon-60@3x.png" />
        <icon density="xxxhdpi" src="icon-60@3x.png" />
</platform>
<!--  добавил на всякий-->
<!--  -->
  <description>
     Хорошее приложение
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      Harrisan
  </author>

<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
<access origin="*"/>
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="phonegap-plugin-barcodescanner"/>
    <preference name="android-build-tool" value="gradle" />
    <preference name="phonegap-version" value="cli-9.0.0" />
    <allow-intent href="http:///" />
    <allow-intent href="https:///*" />
<preference name="orientation" value="portrait" />
</widget>
